:root {
  --safe-area-top: env(safe-area-inset-top, 0px);
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --safe-area-left: env(safe-area-inset-left, 0px);
  --safe-area-right: env(safe-area-inset-right, 0px);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  min-width: 320px;
  overscroll-behavior: none;
}

#root {
  height: 100%;
  margin: 0;
  max-width: none;
  padding: 0;
  width: 100%;
}

a {
  color: var(--spa-color-primary);
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
